@import "styles/mixins.scss";
@import "styles/colors.scss";
@import "styles/variables.scss";

.movieList {
  h1 {
    color: $white;
    text-align: center;
    font-size: 2rem;
  }
  .btnFilter {
    margin: 2em 0 1em;
    background: transparent;
    border: 1px solid $medium-gray;
    color: $medium-gray;
    border-radius: $border-radius;
    padding: 0.3em 1em;
    font-size: 1rem;
    text-transform: uppercase;
    font-size: 0.8rem;
  }

  .filterActive {
    background-color: rgba($pink, 0.2);
    border: 1px solid rgba($pink, 0.2);
    color: rgba($pink, 0.6);
  }

  .movieListContainer {
    @include tablet {
      flex-wrap: wrap;
      @include flex(row, space-around, center);
    }
  }

  .paginationContainer {
    width: 100%;
    list-style: none;
    margin: 2rem 0;
    flex-wrap: wrap;
    @include flex(row, center, center);

    .page {
      color: $pink;
      border: 1px $pink solid;
      border-radius: $border-radius;
      font-size: 1rem;
      margin: 0.5em 0.5em 0;
      padding: 0.2em 0.5em;
      min-width: 2em;
      text-align: center;
      transition: all ease-in 0.2s;
      display: table;

      a {
        cursor: pointer;
      }

      &:hover {
        background-color: $pink;
        color: $white;
      }

      &:focus {
        background-color: $pink;
        color: $white;
      }
    }

    .chevron {
      width: 1.2em;
      height: 1.2em;
      background: none;
      border: 0;
      cursor: pointer;
      display: flex;
      margin-top: 0.5em;

      img {
        height: 100%;
        width: 100%;
      }
    }

    .active {
      background-color: $pink;
      color: $white;
    }

    .break {
      color: $pink;
      letter-spacing: 0.2em;
    }
  }
}
